body{
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    
}

.container{
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #631010;
    overflow: hidden;
    margin: 0 auto;
    text-transform: uppercase;
    z-index: 150;
}

.nav{
    height: 170px;
    overflow: hidden;
    z-index:999;
}


.nav ul{
    margin: 2% 8% 0 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

.nav button{
    background: transparent; 
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0;
    position: relative;
    border: none;
}


.nav li{
    float: right;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
/*
    padding: 6px 20px 6px 20px;
    border: 1px solid white;
    border-radius: 10px;
*/
/*    margin: 5% 3%;*/
    position: relative;
    
}

.nav ul button{
    padding: 6px 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: #631010;
    margin: 0;
    display: inline-block;
}
.nav ul a{
    color: white;
    padding: 6px 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    
}

.nav li a:hover {
    color: #631010;
    background-color: rgba(255,255,255);

}


.nav button:hover {
    color: rgba(99,16,16);
/*    background-color: rgba(99,16,16, 0.3);*/

}

#space{

    margin-top: 200px; 
}
    
#request{
    margin-top: 200px; 
}

#display{
    color: black;
    height: 500px;
    width: 500px;
}


